
        body{
            padding: 0px;
            margin: 0px;
            position: absolute;
            background: #f2f2ed;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        h1{
          text-align: center;

        }
        
         a{
           text-decoration: none;
           color: #060606;
         }

         #mContainer{
            display: flex;

         }
         #div1{
            width: 21%;
            box-shadow: rgba(228, 41, 147, 0.35) 0px 5px 20px;
            border-radius: 10px;
            border: none;
            background: #f2f2ed;
            margin-top:30px ;
            margin-bottom: 40px;
         }
         .a111>h4{
            box-shadow: rgba(108, 104, 106, 0.35) 0px 10px 25px;
            color: #514d4d;
            width: 60%;
            
            text-align: center;
           
         }
        #mainM{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            gap: 10px;
            margin-top: 50px;
            margin: 20px;
            
            
        }
        
        #mainM > div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* align-items: center; */
            border: none;
            margin: 10px;
            margin-bottom: 20px;
            border-radius: 10px;
            /* border-top-left-radius: 10px; */
            box-shadow: rgba(233, 15, 138, 0.35) 0px 5px 20px;
            height: 400px;
            background-color: whitesmoke;
            transition : all 0.5s ease-in-out;
        }
        #mainM > div:hover{
           transform: scale(1.08);
        }
        #mainM > div>h5{
            margin-left: 10px;
        }
        #imageM{
           width: 100%;
           height: 250px;
            /* height: 60%; */
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
        #btnM{
            width: 40%;
            padding: 6px 0px;
            border-radius: 5px;
            margin-bottom: 10px;
            margin-left: 10px;
           
            background-color: #ed3b74;
            color: #ffffff;
            border: none;
           
        }
        #btnM:hover{
            background-color: #da6ea5;
        }
        div > div>div{
            display: flex;
           

        }
        div>p{
            margin-left: 20px;
        }
        #boxM>  p+p{
            text-decoration: line-through;
            margin-left: 20px;
            color: #e43333;
        }

        .navbarM{
            display: flex;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            height: 85px;
           align-items: center;
           font-weight: bolder;
           font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           position: sticky;top: 0px;
           background-color: white;
           font-size: 12px;
           color: #1d1c1c;
           
        }
        .categoryM>ul{
            display: flex;
        }
        .categoryM>ul>li{
            margin-right: 35px;
            list-style: none;
            
        }
        .logoM>img{
           width: 55px;
           margin-left: 50px;
        }
        
        .optionsM>ul{
            display: flex;
        }
        .optionsM>ul>li{
            display: flex;
            margin-right: 20px;
        }
        .optionsM{
            display: flex;
            margin-left: 120px;
            justify-content: center;
            align-items: center;
        }
        .optionsM>ul>li{
            margin-left: 20px;
        }
        .insertM{
            height: 30px;
            width: 500px;
            border: none;
            background-color: #f2f2ed;
            margin-left: -110px;
           padding: 3px;
        }
        #itemM{
            color: rgb(255, 255, 255);
            background: #fa4747;
            padding: 2px 8px;
            border-radius: 15px;
            text-align: center;
            position: relative;
            top: -10px;
        }
        
        H1{
            width: 20%;
            margin: auto;
            margin-top: 2%;
            box-shadow: rgba(233, 15, 138, 0.35) 0px 10px 25px;
            color: #514d4d;
        }
        #sortPriceM{
            width: 8%;
            padding: 6px 0px;
            border-radius: 5px;
            margin-top: 10px;
            margin-left: 10px;
          
            background-color: #ed3b74;
            color: #ffffff;
            border: none;
           
        }
        

     /* for medium screen */
        @media only screen and (min-width: 601px) and (max-width: 800px) {

            body{
                margin: 0px;
                padding: 0px;
            }
         #mainM{
                display: grid;
              
                grid-template-columns: repeat(3,1fr);
                /* gap: 10px; */
             
                /* margin-top: 20px; */
            width: 100%;
              
        }
         #mainM > div{
           width: 90%; 
           height: 95%;
           margin: auto;
           margin-top: 50px;
           margin-bottom: 20px;
           /* margin-right: 15px; */
           margin: -5px;
        }
        #mainM > div>img{
            height: 60%;
        }

        .navbarM{
            width: 100%;
            font-size: 12px;
            height: 60px;
            /* display: none; */
        }
        .insertM{
            display: none;
        }
        .categoryM{
            width: 60%;
            /* display: none; */
        }
        .categoryM>ul>li:nth-last-child(1),
        .categoryM>ul>li:nth-last-child(2),
        .categoryM>ul>li:nth-last-child(3){
            display: none;
        }

        .optionsM{
            width: 20%;
            margin-top: 20px;
            margin-right: 100px;
            display: none;
        }
        .optionsM>ul>li:nth-last-child(1),
        .optionsM>ul>li:nth-last-child(2)
        .categoryM>ul>li:nth-last-child(3){
            display: none;
        }
       
       
        #sortPriceM{
            width: 20%;
            margin-bottom: 20px;
        }
        #h11{
            width: 30%;
            font-size: 18px;
            padding: 5px;
        }
       
  }

     /* for small screen */
        @media only screen and (min-width: 0px) and (max-width: 600px) {

            body{
                margin: 0px;
                padding: 0px;
            }
         #mainM{
                display: grid;
              
                grid-template-columns: repeat(2,1fr);
                gap: 10px;
                margin-top: 20px;
            width: 100%;
              
        }
        #mainM > div{
            width: 80%; 
            margin: auto;
            margin-bottom: 20px;
            margin-right: 15px;
         }

        .navbarM{
            width: 105%;
            font-size: 12px;
            height: 60px;
            /* display: none; */
           
        }
        .insertM{
            display: none;
        }
        .categoryM{
            width: 90%;
            /* display: none; */
        }
        .categoryM>ul>li:nth-last-child(1),
        .categoryM>ul>li:nth-last-child(2),
        .categoryM>ul>li:nth-last-child(3){
            display: none;
        }

        .optionsM{
            width: 35%;
            margin-top: 20px;
            margin-right: 100px;
             display: none;
        }
        
        
        #sortPriceM{
            width: 20%;
        }
        #h11{
            width: 30%;
            font-size: 16px;
            padding: 5px;
        }
    }



    /* new work for side bar*/

    .a111 {
        display: flex;
        flex-direction: column;
        justify-content: center;
       margin-left: 10px;
       margin-top: 20px;
       color: #383636;
    }
    
    
 
        /* footer */

        .footH {
            width: 100%;
            height: fit-content;
            display: flex;
            background: #f8f8f6;
            justify-content: center;
            margin: auto;
            margin-top: 50px;
            
            font-size: 11px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            
            }
            
            .thirdH{
               width: 25%;
               text-align: center;
             
               margin-top: 30px;
             }
             .thirdH>img{
               width: 100%;
              
             }
             .fourthH>img{
               width: 100%;
              
             }
             
             .fourthH{
               width: 22%;
              
               margin-top: 30px;
             }
            
             .firstH{
                width: 18%;
                
                margin-top: 30px;
             }
             .firstH>div,.secondH>div{
                display: flex;
                flex-direction: column;
             }
             .firstH>div>p,.secondH>div>p, .secondH>p{
                color: #2e2c2c;
             }
             .secondH{
                width: 15%;
               
                margin-top: 30px;
             }
            
             .firstH>h3,.secondH>h3{
              margin-bottom: 30px;
             }
            
             .thirdH>h3{
              margin-left: -47px;
             }
            
            
            @media screen and (max-width: 800px) {
            .footH{
               flex-direction: column;
            }
            .thirdH>img{
               
              width: 80%;
            }
            .fourthH>img{
              width: 80%;
            }
            }