
        body{
            position: absolute;
            padding: 0px;
            margin: 0px;
            background: #f2f2ed;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        h1{
          text-align: center;

        }
       
         a{
            text-decoration: none;
            color: #000;
         }
         #mContainer{
            display: flex;

         }
         #div1{
            width: 20%;
            box-shadow: rgba(228, 41, 147, 0.35) 0px 5px 20px;
            border-radius: 10px;
            border: none;
            background: #f2f2ed;
            margin-top:30px ;
            margin-bottom: 40px;
         }
         .a111>h4{
            box-shadow: rgba(108, 104, 106, 0.35) 0px 10px 25px;
            color: #514d4d;
            width: 60%;
            
            text-align: center;
           
         }

        #mainW{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            gap: 10px;
            margin-top: 50px;
            margin: 20px;
            
            
        }
        
        #mainW > div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* align-items: center; */
            border: none;
            margin: 10px;
            margin-bottom: 20px;
            border-top-left-radius: 40px;
            border-bottom-right-radius: 40px;
            /* border-top-left-radius: 10px; */
            box-shadow: rgba(233, 15, 138, 0.35) 0px 5px 20px;
            height: 400px;
            background-color: whitesmoke;
            transition : all 0.5s ease-in-out;
        }
        
        #mainW > div:hover{
            transform: scale(1.08);
         }

        #mainW > div>h5{
            margin-left: 10px;
        }
        #imageW{
           width: 100%;
           height: 250px;
            /* height: 50%; */
            border-top-left-radius: 40px;
        }
        #btnW{
            width: 40%;
            padding: 6px 0px;
            border-radius: 5px;
            margin-bottom: 10px;
            margin-left: 10px;
           
            background-color: #ed3b74;
            color: #ffffff;
            border: none;
           
        }
        #btnW:hover{
            background-color: #da6ea5;
        }
        div > div>div{
            display: flex;
           

        }
        div>p{
            margin-left: 20px;
        }
        #boxW> p+p{
            color: #e54040;
            text-decoration: line-through;
            margin-left: 20px;
        }

        .navbarW{
            display: flex;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            height: 85px;
           align-items: center;
           font-weight: bolder;
           font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           position: sticky;top: 0px;
           background-color: white;
           font-size: 12px;
           color: #1d1c1c;
           
        }
        .categoryW>ul{
            display: flex;
        }
        .categoryW>ul>li{
            margin-right: 35px;
            list-style: none;
            
        }
        .logoW>img{
           width: 55px;
           margin-left: 50px;
        }
        
        .optionsW>ul{
            display: flex;
        }
        .optionsW>ul>li{
            display: flex;
            margin-right: 20px;
        }
        .optionsW{
            display: flex;
            margin-left: 120px;
            justify-content: center;
            align-items: center;
        }
        .insertW{
            height: 30px;
            width: 500px;
            border: none;
            background-color: #f2f2ed;
            margin-left: -110px;
           padding: 3px;
        }
        #itemW{
            color: rgb(255, 255, 255);
            background: #fa4747;
            padding: 2px 8px;
            border-radius: 15px;
            text-align: center;
            position: relative;
            top: -10px;
        }
        H1{
            width: 20%;
            margin: auto;
            margin-top: 2%;
            box-shadow: rgba(233, 15, 138, 0.35) 0px 10px 25px;
            color: #514d4d;
        }
        #sortPriceW{
            width: 8%;
            padding: 6px 0px;
            border-radius: 5px;
            margin-top: 10px;
            margin-left: 10px;
           
            background-color: #ed3b74;
            color: #ffffff;
            border: none;
        }
        .optionsW>ul>li{
            margin-left: 20px;
        }

           /* for medium screen */
           @media only screen and (min-width: 601px) and (max-width: 800px) {

            body{
                margin: 0px;
                padding: 0px;
            }
         #mainW{
                display: grid;
              
                grid-template-columns: repeat(3,1fr);
                /* gap: 10px; */
             
                /* margin-top: 20px; */
            width: 95%;
              
        }
         #mainW > div{
           width: 90%; 
           height: 90%;
           margin: auto;
           margin-top: 20px;
           margin-bottom: 20px;
           /* margin-right: 15px; */
           /* margin: -10px; */
           
        }
        #mainW > div>img{
            height: 55%;
        }

        .navbarW{
            width: 100%;
            font-size: 12px;
            height: 60px;
            /* display: none; */
        }
        .insertW{
            display: none;
        }
        .categoryW{
            width: 60%;
            /* display: none; */
        }
        .categoryW>ul>li:nth-last-child(1),
        .categoryW>ul>li:nth-last-child(2),
        .categoryW>ul>li:nth-last-child(3){
            display: none;
        }

        .optionsW{
            width: 20%;
            margin-top: 20px;
            margin-right: 100px;
            display: none;
        }
       
       
        #sortPriceW{
            width: 15%;
            margin-bottom: 20px;
        }
        #h11{
            width: 30%;
            font-size: 20px;
            padding: 5px;
        }
     
       
  }

     /* for small screen */
        @media only screen and (min-width: 0px) and (max-width: 600px) {

            body{
                margin: 0px;
                padding: 0px;
            }
         #mainW{
                display: grid;
              
                grid-template-columns: repeat(2,1fr);
                gap: 10px;
                margin-top: 20px;
            width: 90%;
              
        }
       
        #mainW > div{
            width: 80%; 
            margin: auto;
            margin-bottom: 20px;
            margin-right: 15px;
         }

        .navbarW{
            width: 101%;
            font-size: 12px;
            height: 60px;
            /* display: none; */
           
        }
        .insertW{
            display: none;
        }
        .categoryW{
            width: 90%;
            /* display: none; */
        }
        .categoryW>ul>li:nth-last-child(1),
        .categoryW>ul>li:nth-last-child(2),
        .categoryW>ul>li:nth-last-child(3){
            display: none;
        }

        .optionsW{
            width: 35%;
            margin-top: 20px;
            margin-right: 100px;
             display: none;
        }
        
        
        #sortPriceW{
            width: 25%;
            font-style: 10px;
        }
        #h11{
            width: 40%;
            font-size: 15px;
            padding: 5px;
        }
    }

    /* new work for side bar*/

    .a111 {
        display: flex;
        flex-direction: column;
        justify-content: center;
       margin-left: 10px;
       margin-top: 20px;
       color: #383636;
    }


      /* footer */

      .footH {
        width: 100%;
        height: fit-content;
        display: flex;
        background: #f8f8f6;
        justify-content: center;
        margin: auto;
        margin-top: 50px;
        
        font-size: 11px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        }
        
        .thirdH{
           width: 25%;
           text-align: center;
         
           margin-top: 30px;
         }
         .thirdH>img{
           width: 100%;
          
         }
         .fourthH>img{
           width: 100%;
          
         }
         
         .fourthH{
           width: 22%;
          
           margin-top: 30px;
         }
        
         .firstH{
            width: 18%;
            
            margin-top: 30px;
         }
         .firstH>div,.secondH>div{
            display: flex;
            flex-direction: column;
         }
         .firstH>div>p,.secondH>div>p, .secondH>p{
            color: #2e2c2c;
         }
         .secondH{
            width: 15%;
           
            margin-top: 30px;
         }
        
         .firstH>h3,.secondH>h3{
          margin-bottom: 30px;
         }
        
         .thirdH>h3{
          margin-left: -47px;
         }
        
        
        @media screen and (max-width: 800px) {
        .footH{
           flex-direction: column;
        }
        .thirdH>img{
           
          width: 80%;
        }
        .fourthH>img{
          width: 80%;
        }
        }
/* footer */
    